<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Buscar por título">
        </div>
        <div>
            <button class="btn btn-primary" (click)="openCreateBookDialog()">New Book</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author Name</th>
                <th>Published</th>
                <th>Year</th>
                <th>Description</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of pagedBooks">
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ getAuthorName(book.authorId) }}</td>
                <td>{{ book.published ? 'SI' : 'NO' }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.dateCreated | date }}</td>
            </tr>
        </tbody>
    </table>
    <pagination [(ngModel)]="currentPage" [totalItems]="books.length" [itemsPerPage]="itemsPerPage"
        (pageChanged)="setPage($event.page)"></pagination>
</div>
