/* Estilos generales para la página principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Estilos para el menú */
.custom-menu {
    width: 20%;
}

/* Estilos para el contenido principal */
.custom-content {
    width: 80%;
}
